/* Created by: Alyssia fung
* Created on: Mar 2023
* This file contains the CSS for index.html
*/

.mdl-ripple {
  background: #8b0d94;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
  color: rgba(13 18 10 76.5%);
}

.mdl-layout__content {
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 20pt;
}

.mdl-textfield__error {
  color: #353151;
}

.page-content {
  color: rgb(6, 6, 6);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

body {
  background-color: rgb(241 234 241);
}

img {
  float: right
}